@import url('IconBase.css');
@import url('PlusCardBase.css');

.plus-two-flex {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.plus-two-subcontainer {
    background-color: inherit;
    display: block;
    width: 41px;
    height: 64px;
    margin: 0;
}

.mini-card.two:first-child {
    margin-top: 20px;
}

.mini-card.two:last-child {
    margin-left: 10px;
    background-color: inherit;
}