@import url('IconBase.css');

.reverse-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.1);
}

.reverse-arrow-base {
    position: relative;
    box-sizing: border-box;
    border-bottom: solid;
    border-left: solid;
    border-width: 2px;
    width: 30px;
    height: 10px;
    border-bottom-left-radius: 5px;
}

.reverse-arrow-head {
    position: absolute;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-top: solid;
    border-right: solid;
    border-width: 2px;
    right: 0;
    bottom: 0;
    transform: translate(0px, 7px) rotate(45deg);
}

.reverse-arrow-base:first-child {
    transform: translate(15px, -6px) scale(1, -1) rotate(45deg);
}

.reverse-arrow-base:last-child {
    transform: translate(-15px, 6px) scale(-1, 1) rotate(45deg);
}