:root {
    --red: indianred;
    --green: mediumseagreen;
    --blue: royalblue;
    --yellow: goldenrod;
    --gray: #282c34
}

.red {
 background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.yellow {
    background-color: var(--yellow);
}

.gray {
    background-color: var(--gray);
}