:root {
    --red: #d0250d; /*indianred*/
    --green: #78b917; /*mediumseagreen*/
    --blue: #0861a9; /*royalblue*/
    --yellow: #ffcd2a; /*goldenrod*/
    --gray: #282c34
}

.red {
 background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.yellow {
    background-color: var(--yellow);
}

.gray {
    background-color: var(--gray);
}