body {
  background-color: #60626c;
}

a {
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-window {
  border-radius: 15px;
  overflow: hidden;
}

.App-title {
  line-height: 40pt;
  font-size: 40pt;
  color: white;
  height: 120px;
  margin: 0;
}

.App-description {
  font-size: 12pt;
}

.card-list {
  min-height: 300px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 20px 20px;
}

.card-overlay-container {
  margin: 15px;
  border-radius: 10px;
  overflow: visible;
  box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
}